@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&family=Work+Sans&display=swap");

// Partials
@import "./largeRow";

// Font Styles
$workSans: "Work Sans", sans-serif;
$prompt: "Prompt", sans-serif;

// Colors
$brightBlue: #00f9fd;
$midBlue: #0094fc;
$darkBlue: #00538d;
$burntOrange: #fdb913;
$brightOrange: #f49f00;
$yellow: #ffe200;
$midBrown: #b76421;
$lightGray: #cfdce7;
$midGray: #808080;
$charcoal: #555555;
$lightBlue: #7397b1;
$white: #fff;

// Breakpoints
$xs: 450px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Mixins
@mixin flexLayout($justify: center, $align: center, $flow: column) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
}

@mixin headers($transform: uppercase, $color: $darkBlue) {
  font-family: $prompt;
  letter-spacing: 2px;
  text-transform: $transform;
  font-weight: 300;
  color: $color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  color: $charcoal;
  font-family: $workSans;
  textarea,
  input {
    width: 50%;
    padding: 1rem 1.5rem;
    font-family: $workSans;
    font-size: 1rem;
    border-radius: 2rem;
    background: linear-gradient(to right, $lightGray, white);
    color: $darkBlue;
    border: 1px solid $darkBlue;
    transition: all 500ms ease-in-out;
    margin: 0 0 1rem 0;
    &:focus {
      border: 1px solid $brightBlue;
      outline: 0px solid transparent;
    }
    &::placeholder {
      color: $lightBlue;
    }
  }
  a {
    @include headers();
    text-decoration: none;
  }
  h1 {
    @include headers();
    font-size: 4rem;
    padding: 1rem 0;
    line-height: 1;
  }
  h2 {
    @include headers(none);
    font-size: 3rem;
    padding: 1rem 0 4rem 0;
  }
  h2.experts {
    @include headers(none, $midBrown);
    font-size: 3rem;
    padding: 1rem 0 4rem 0;
  }
  h2.general {
    @include headers(none, $charcoal);
    font-size: 3rem;
    padding: 1rem 0 4rem 0;
  }
  h3 {
    @include headers(uppercase, $charcoal);
    font-size: 1rem;
  }
  h4 {
    font-size: 1.5rem;
    color: $darkBlue;
  }
  h5 {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0 0 0.5rem 0;
  }
  p {
    line-height: 1.45;
  }
}

.fluid {
  max-width: 100%;
}

.container {
  @include flexLayout();
}
.content {
  width: 80%;
}
.row {
  @include flexLayout(center, flex-start, column);
  padding: 5rem 0;
}
.hero {
  @include flexLayout(center, flex-start, column);
  width: 100%;
  padding: 10%;
  background-image: linear-gradient(150deg, $white, $lightBlue);
}
.logo {
  max-width: 175px;
}
.button-row {
  width: 100%;
  @include flexLayout(space-between, flex-start, column);
  a {
    margin: 3rem 0;
  }
  @media (min-width: $lg) {
    @include flexLayout(space-between, center, row);
    a {
      margin: 0;
    }
  }
}
.input-row {
  width: 100%;
  @include flexLayout(center, flex-start, column);
  @media (min-width: $lg) {
    @include flexLayout();
  }
}

.card-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem 0;
  @media (min-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 4rem;
  }
}

.card {
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  background: $white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(189, 193, 209, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(189, 193, 209, 0.3);
  transition: all 400ms ease-in-out;
  .image-segment {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 1rem;
  }
  .text-segment {
    padding: 2rem;
  }
  .filter-segment {
    padding: 1rem 0 0 0;
    display: flex;
    p {
      font-size: 0.8rem;
      border-radius: 1rem;
      padding: 0.5rem 0.75rem;
      border: 1px solid $lightGray;
      margin: 0 0.5rem 0 0;
    }
  }
  &:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 0px 15px 15px 0px rgba(189, 193, 209, 0.6);
    box-shadow: 0px 15px 15px 0px rgba(189, 193, 209, 0.6);
  }
}

// SphereBoard Components
.sb-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 15em;
  padding: 1rem;
  color: white;
  border-radius: 10rem;
  transition: all 500ms ease-in-out;
  background: linear-gradient(90deg, $midBlue, $darkBlue 51%, $midBlue)
    var(--grade, 0) / 300%;
  box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    --grade: 100%;
  }
}
.sb-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 18em;
  padding: 1rem;
  border-radius: 10rem;
  position: relative;
  $border: 4px;
  color: $darkBlue;
  background: linear-gradient(to right, $lightGray, white);
  background-clip: padding-box;
  border: solid $border transparent;
  box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  transition: all 250ms ease-in-out;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(140deg, $brightBlue, $darkBlue);
    transition: all 750ms ease;
    background-size: 150% 150%;
    background-position: 100% 100%;
  }
  &:hover {
    box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);

    &:before {
      background-position: 0% 0%;
    }
  }
}

// SphereExperts Components

.se-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 15em;
  padding: 1rem;
  color: white;
  border-radius: 10rem;
  transition: all 500ms ease-in-out;
  background: linear-gradient(90deg, $burntOrange, $midBrown 51%, $burntOrange)
    var(--grade, 0) / 400%;
  box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    --grade: 100%;
  }
}
.se-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 18em;
  padding: 1rem;
  border-radius: 10rem;
  position: relative;
  $border: 4px;
  color: $brightOrange;
  background: linear-gradient(to right, $lightGray, white);
  background-clip: padding-box;
  border: solid $border transparent;
  box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  transition: all 250ms ease-in-out;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(140deg, $yellow, $brightOrange);
    transition: all 750ms ease;
    background-size: 150% 150%;
    background-position: 100% 100%;
  }
  &:hover {
    box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    &:before {
      background-position: 0% 0%;
    }
  }
}

// General Components
.gen-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 15em;
  padding: 1rem;
  color: white;
  border-radius: 10rem;
  transition: all 500ms ease-in-out;
  background: linear-gradient(150deg, $brightBlue, $darkBlue 35%, $brightBlue)
    var(--grade, 0) / 300%;
  box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    --grade: 100%;
  }
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 15em;
  padding: 1rem;
  color: white;
  border-radius: 10rem;
  transition: all 500ms ease-in-out;
  background: linear-gradient(150deg, $brightBlue, $darkBlue 35%, $brightBlue)
    var(--grade, 0) / 300%;
  box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    -moz-box-shadow: -4px 2px 16px -2px rgba(0, 0, 0, 0);
    --grade: 100%;
  }
}
.form-btn {
  max-width: 50%;
  margin: 0;
}
